.List {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow-y: scroll;
    min-width: 400px;
}

.ListItem {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    align-items: center;
}

.ListItem_done {
    text-decoration: line-through;
}
